<div class="tabContent" id="{{- include.id -}}">
    {%- assign id = include.id -%}
    {%- assign type = include.type -%}
    {%- assign buyName = include.buyName -%}
    {%- assign headers = include.headers -%}
    {%- assign displayData = include.displayData -%}
    {%- assign placeholder = include.placeholder -%}
    {%- assign priceHeaers = include.priceHeaders -%}
    {%- assign karmaHeaders = include.karmaHeaders -%}
    {%- assign priceDataHeaders = include.priceDataHeaders -%}

    {%- include search.html id=id type=type placeholder=placeholder -%}
    {%- if include.type == 'Pawn' -%}
        NOTE: You will need to !fixmypawn after buying a Kurin, Destrier, or Uniponen colonist.<br>
        Scroll to bottom for race details.
    {%- endif -%}
    {%- include content.html
        type=type
        buyName=buyName
        headers=headers
        priceDataHeaders=priceDataHeaders
        priceHeaders=priceHeaders
        displayData=displayData -%}
    {%- if include.type == 'Pawn' -%}
## Outline of each race:
        For reference, each of these will be in context of being compared to a baseline human.
    
        <h3>Bun</h3><br>
        The Bun is a beastman that takes on the properties of the rabbit. Their fluffy legs grant them great speed and an evasive edge in combat, but buns tend to be more prone to stress.<br>
        ### Cutebold<br>
        The Cutebold is a small, dog-eared kobold-like creature. They are resistant to toxic and psychic phenomena as well as being good miners and hunters, but are easily suppressed in combat.<br>
        ### Destrier<br>
        A Destrier is a female Epona warhorse. They are much more fearsome in melee combat than the smaller epona, but exaggerate the general downsides of Eponakind.<br>
        ### Drow<br>
        A Drow is a dark-skinned elf born in the depths of the Underdark. Drow prefer ranged combat to melee. They are resistant to toxins, but are more susceptible to psychic phenomena.<br>
        ### Dwarf<br>
        A Dwarf is a short, stocky and stubborn humanoid. Preferring to live underground, Dwarves are resistant to heat and disease, and get a strong bonus to mining.<br>
        ### Elf<br>
        An Elf is a long-eared humanoid long thought to be immortal. Elves rarely eat, are nigh immune to disease, and move swift as the wind. Their elf-eyes can see far, letting their arrows fly true.<br>
        ### Epona<br>
        An Epona is akin to a centaur. As a one-man cavalry, epona are fast and strong melee fighters. However, they sleep a lot, work slowly and are especially vulnerable to disease.<br>
        ### Half-Elf<br>
        A human with elf blood, Half-Elves inherit several benefits of their Elven kin - They can move fast, see far and many find that they rarely grow hungry.<br>
        ### Hobbit<br>
        Hobbits are small, friendly little humanoids with a passion for merrymaking. They gain a strong bonus to their social skills and are resistant to disease. They're also resistant to stress and pain.<br>
        ### Kurin<br>
        The Kurin is a beastman with fox ears and three bushy tails. While they aren't so competent in combat, they happen to be avid socialites and great cooks. <br>
        ### Ratkin<br>
        The Ratkin is a beastman that takes on the properties of a rat. Their stature is average in combat, but they boast resistance to disease and toxins. They're generally not so social, but are good at digging, hunting and farming.<br>
        ### Uniponen<br>
        The Uniponen is a male Epona unicorn. While elusive in combat, they aren't so good with weapons, and prefer to be on the backlines performing medical tasks, which they excel at.<br>
    {%- endif -%}
</div>
