<div class="tabContent" id="{{- include.id -}}">
    {%- assign id = include.id -%}
    {%- assign type = include.type -%}
    {%- assign buyName = include.buyName -%}
    {%- assign headers = include.headers -%}
    {%- assign displayData = include.displayData -%}
    {%- assign placeholder = include.placeholder -%}
    {%- assign priceHeaers = include.priceHeaders -%}
    {%- assign karmaHeaders = include.karmaHeaders -%}
    {%- assign priceDataHeaders = include.priceDataHeaders -%}

    {%- include search.html id=id type=type placeholder=placeholder -%}
    {%- if include.type == 'Pawn' -%}
        Scroll to bottom for race details.
    {%- endif -%}
    {%- include content.html
        type=type
        buyName=buyName
        headers=headers
        priceDataHeaders=priceDataHeaders
        priceHeaders=priceHeaders
        displayData=displayData -%}
    {%- if include.type == 'Pawn' -%}
    
        <h3>Outline of each race:</h3>
        
        For reference, each of these will be in context of being compared to a baseline human.<br>
    
        <h4>Anty (♂, ♀)</h4>
    
        Anty are a race of insectile humanoids featuring the traits of an ant. Covered in an armored exoskeleton and armed with acidic weaponry, the Anty is quite literally bred for war. Anties are fast, durable and somewhat resistant to psychic phenomena. They are gifted at building and mining, and receive a bonus to butchering corpses. They're even able to reproduce without a mate. However, Anty often have trouble communicating with other races. To an Anty, a fight is a conversation, and a wound is a lesson learned. Anty have a short lifespan, start a lot of social fights, have a penalty to social, and are sensitive to toxins and fire. 

        <h4>Kurin (♂, ♀)</h4>
    
        Kurin are genetically engineered humans, enhanced with three fluffy tails and a pair of fox ears. Themed after the Kitsune, the Kurin are sociable creatures, but find themselves lacking when performing physical tasks or lifting weight.<br>
    
        <h4>Moyo (♂, ♀)</h4>
    
        Moyo are a strange race of blueish slug people, adapted to life below water. They're slow and sturdy, with high psychic potential and an affinity for the cold, and rumor has it their blood is quite the drug...<br>
        
        <h4>Moyo (Red) (♂, ♀)</h4>
    
        A variant subspecies of the Moyo, the Red Moyo trades any form of psychic potential for a near-immunity to psionic phenomena and a further increase to their sturdiness.<br>
    
        <h4>Paniel (♀)</h4>
        
        A race of all-female steampunky robotic humanoids originally claimed to be Artificial Intelligence. Revealed to be powered by a human brain, these cyborgs are highly customizable. Paniel are immune to disease (except those that target the brain or nervous system), gain a work boost after doing recreation, and are hardier than humans mentally. However, they require a special psychoactive fuel, suck at research, and need to be maintained frequently. They are also notoriously difficult to repair, as medicine cannot tend their wounds.
    
        <h4>Rabbie (♂, ♀)</h4>
    
        Rabbie are genetically engineered humans, enhanced with floppy bunny ears and small, slender bodies. Rabbie are intelligent but constantly nervous and jumpy, and require a special drug known as Planetarium to survive. Rumor has it that this drug allows them to see into the future, granting them incredible accuracy in combat.<br>
    
        <h4>Ratkin (♂, ♀)</h4>
    
        Ratkin are genetically engineered humans, enhanced with ratlike features and a small stature. As humble farmers, Ratkin boast a resistance to disease and toxins, and a boost to agricultural skills, but aim slower in combat, suffer from poor social skills, and find their strength limited by their smaller body.<br>
    {%- endif -%}
</div>
